POSTGRES_DB=anecites
POSTGRES_USER=anecites
POSTGRES_PASSWORD=anecites_dev_password
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=anecites
RABBITMQ_PASSWORD=anecites_dev_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_ROOT_USER=anecites
MINIO_ROOT_PASSWORD=anecites_dev_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

PISTON_IMAGE=ghcr.io/engineer-man/piston
PISTON_PORT=2000

LIVEKIT_IMAGE=livekit/livekit-server:latest
LIVEKIT_EGRESS_IMAGE=livekit/egress:latest
LIVEKIT_HTTP_PORT=7880
LIVEKIT_RTC_TCP_PORT=7881
LIVEKIT_RTC_UDP_PORT=7882

JUDGE0_IMAGE=judge0/judge0:latest
JUDGE0_PORT=2358
